/* Thrive stylesheet */

/* Fonts */
@font-face {
    font-family: "thrive";
    src: url("../../Fonts/thrive.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jura";
    src: url("../../Fonts/Jura-DemiBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Jura";
    src: url("../../Fonts/Jura-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jura";
    src: url("../../Fonts/Jura-Light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: "Jura";
    src: url("../../Fonts/Jura-Medium.ttf") format("truetype");
    font-weight: bolder;
    font-style: normal;
}

/* Element styling */
html{
    width: 100%;
    height: 100%;
    font-family: "Jura";
    /* By default all text is white */
    color: white;
    /* Custom cursor everywhere */
    cursor: url("../../Textures/gui/cursors/default.png"), auto;
}

body{
    /* Remove borders around the content */
    margin: 0px;
}

button{
    background-color: blue;
}

/* Common quick classes */
.Centered{
    text-align: center;
    vertical-align: middle;
}

/* Menu things */
.MenuContainer{
    display: flex;
    justify-content: center;
    width: auto;
}

.MainMenu{

    margin-top: 300px;
    width: auto;
}

.MenuButton {
    /*position: relative;*/
    /*left:50%;*/
    /*top:50vh;*/
    width: 150px;
    height: 40px;
    /* margin-left:-110px;*/
    margin-bottom:5px;
    background-color: rgb(0, 125, 125, 0.4);
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

.DisabledButton {

    background-color: rgb(0, 80, 80, 0.32);
}

.MenuButton:hover {
	background-color: rgb(0, 125, 125, 0.8);
}

.DisabledButton:hover {
    background-color: rgb(0, 80, 80, 0.32);
}

/* Background planet and logo */
.BackgroundStars{
    background-image: url("../../Textures/gui/just_background.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -50;
    position: absolute;
    top: 0px;
}

.BackgroundPlanet{
    background: url("../../Textures/gui/planet.png");
    /* Keep this original image file size here */
    width: 593px;
    height: 486px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

.Logo{
    background: url("../../Textures/gui/logo.png");
    /* Keep this original image file size here */
    width: 167px;
    height: 168px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}

/* Cell stage things */
/* Any type of panel like the bottom bar and health window */
.Panel{
    background-color: rgb(0, 125, 125, 0.4);
}


/* tjwhale's sample

.menuButton {
    position: relative;
    left:50%;
    top:50vh;
    width:150px;
    height:40px;
    margin-left:-110px;
    margin-bottom:5px;
    color:white;
    background-color:rgb(0,125,125,0.4);
    text-align:center;
    vertical-align:middle;
    line-height:40px;
}

.menuButton:before {
    content:"";
    position: absolute;
    right: 100%;
    top:0px;
    width:0px;
    height:0px;
    border-top:20px solid transparent;
    border-right:35px solid rgb(0,125,125,0.4);
    border-bottom:20px solid transparent;
}

.menuButton:after {
    content:"";
    position: absolute;
    left: 100%;
    top:0px;
    width:0px;
    height:0px;
    border-top:20px solid transparent;
    border-left:35px solid rgb(0,125,125,0.4);
    border-bottom:20px solid transparent;
}
.menuButton:hover {
	background-color:rgb(0,125,125,0.8);
}
.menuButton:hover:before {
	border-right:35px solid rgb(0,125,125,0.8);	
}
.menuButton:hover:after {
	border-left:35px solid rgb(0,125,125,0.8);
}
*/

