/* Thrive stylesheet */

/* Fonts */
@font-face {
  font-family: "thrive";
  src: url("../../Fonts/thrive.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jura";
  src: url("../../Fonts/Jura-DemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Jura";
  src: url("../../Fonts/Jura-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Jura";
  src: url("../../Fonts/Jura-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Jura";
  src: url("../../Fonts/Jura-Medium.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

/* Element styling */
html {
  width: 100%;
  height: 100%;
  font-family: "Jura";

  /* By default all text is white */
  color: white;

  /* Custom cursor everywhere */
  cursor: url("../../Textures/gui/cursors/default.png"), auto;
}

body {
  /* Remove borders around the content */
  margin: 0;
}

/* button{
    background-color: blue;
} */

/* Videos are centered inside their elements and made to fit */
video {
  width: 100%;
  height: 100%;
  display: flex;
}

/* scrollbar style */
div::-webkit-scrollbar {
  width: 15px;
}

div::-webkit-scrollbar-track {
  background: transparent;
}

div::-webkit-scrollbar-thumb {
  background: rgb(0, 125, 125, 0.6);
}

div::-webkit-scrollbar-thumb:hover {
  background: rgba(89, 210, 255, 0.7);
}

/* Common quick classes */
.Centered {
  text-align: center;
  vertical-align: middle;
}

/* Centered fullscreen container */
.FullScreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bars */
.Bar {
  display: block;
  position: relative;
  width: 215px;
  height: 25px;
  margin-left: 20px;
  margin-right: 32px;
  margin-bottom: 4px;
  margin-top: 6px;
  background-color: rgb(0, 0, 0, 0.2);
}

#panelTitle {
  display: block;
}

#MP.Bar {
  width: 430px;
}

.BarBackground {
  /* Starts out filled */
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(0, 125, 125, 0.8);
}

.BarForeground {
  width: 100%;
  height: 100%;
}

.compoundIcon {
  position: relative;
  width: 25px;
  height: 25px;
  left: -10px;
  background-size: 25px 25px;
}

.BarTitle {
  position: relative;
  left: -20px;
  top: -10px;
  line-height: 0;
  font-size: 11pt;
}

.BarValue {
  position: absolute;
  left: 120px;
  top: 14px;
  text-align: right;
  line-height: 0;
  font-size: 11pt;
}

.HealthValue {
  position: absolute;
  left: 100px;
  top: 20px;
  text-align: right;
  line-height: 0;
  font-size: 10pt;
}

.ATPValue {
  position: relative;
  left: -5px;
  top: -10px;
  text-align: center;
  line-height: 0;
  font-size: 0;
}

.EnvironmentBar {
  position: relative;
  width: 180px;
  height: 25px;
  left: 20px;
  margin-bottom: 0;
  margin-top: 6px;
  background-color: rgb(0, 0, 0, 0.2);
}

.OxygenBarBackground {
  /* Starts out filled */
  position: relative;
  width: 21%;
  height: 100%;
  background: rgb(0, 125, 125, 0.8);
}

.CO2BarBackground {
  /* Starts out filled */
  position: relative;
  width: 9%;
  height: 100%;
  background: rgb(0, 125, 125, 0.8);
}

.NitrogenBarBackground {
  /* Starts out filled */
  position: relative;
  width: 70%;
  height: 100%;
  background: rgb(0, 125, 125, 0.8);
}

.EnvironmentBarBackground {
  /* Starts out filled */
  position: relative;
  width: 100%;
  height: 100%;
  background: rgb(0, 125, 125, 0.8);
}

.EnvironmentBarTitle {
  position: relative;
  left: 10px;
  top: -10px;
  line-height: 0;
  font-size: 11pt;
}

.EnvironmentBarValue {
  position: absolute;
  left: 100px;
  top: 14px;
  text-align: right;
  line-height: 0;
  font-size: 11pt;
}


.environmentIcon {
  position: relative;
  width: 29px;
  height: 25px;
  left: -10px;
  background-size: 29px 25px;
}

.EmptyBarBackground {
  position: relative;
  width: 0%;
  height: 0%;
  background: rgb(0, 0, 0, 0);
}

/* Menu things */
.MenuContainer {
  display: flex;
  justify-content: center;
  width: auto;
}

.MainMenu {
  position: relative;
  width: auto;
  top: 50vh;
  margin-top: -140px;
}

@media (max-height: 899px) {
  .MainMenu {
    margin-top: -70px;
  }
}

@media (max-height: 720px) {
  .MainMenu {
    margin-top: -50px;
  }
}

.PauseMenu {
  position: relative;
  width: auto;
  top: 50vh;
  margin-top: -200px;
}

.HelpText {
  display: block;
  text-align: center;
  font-size: 20pt;
  overflow-y: scroll;
}

.HelpScroll {
  display: inline-block;
  margin-left: 5%;
  padding-right: 5%;
  text-align: justify;
  text-justify: inter-word;
}

.HelpLeftColumn {
  width: 48%;
}

.HelpRightColumn {
  width: 48%;
  float: right;
}

.HelpBox {
  background: rgba(0, 125, 125, 0.8);
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.MenuButton {
  width: 200px;
  height: 40px;
  margin-bottom: 10px;
  background-image: url("../../Textures/gui/bevel/MenuNormal.png");
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 15pt;
  margin-left: auto;
  margin-right: auto;
}

.MenuTextBox {
  background: rgb(0, 125, 125, 0.8);
  border: 1px solid rgb(112, 159, 159, 0.6);
  color: white;
  height: 32px;
  font-size: 18pt;
  margin-bottom: 3px;
}

.MenuDialogBox {
  width: 500px;
  height: 160px;
  border-radius: 3px;
  background: rgb(0, 125, 125, 0.9);
  border: 2px solid rgb(112, 159, 159, 0.6);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.MenuButton.DisabledButton {
  background-image: url("../../Textures/gui/bevel/MenuDisabled.png");
}

.MenuButton:hover {
  background-image: url("../../Textures/gui/bevel/MenuHover.png");
}

.MenuButton.DisabledButton:hover {
  background-image: url("../../Textures/gui/bevel/MenuDisabled.png");
}

/* Background planet and logo */
.BackgroundMenu {
  background-image: url("../../Textures/gui/BG_Menu02.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -50;
  position: absolute;
  top: 0;
}

.BackgroundPlanet {
  background: url("../../Textures/gui/planet.png");

  /* Keep this original image file size here */
  width: 593px;
  height: 486px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Logo {
  background: url("../../Textures/gui/logo.png");

  /* Keep this original image file size here */
  width: 167px;
  height: 168px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Cell stage things */

/* Any type of panel like the bottom bar and health window */

/* .Panel {
    background-color: rgb(0, 125, 125, 0.4);
} */

#infoBar {
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 80px;
  right: 40px;
}

#infoPatch {
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 160px;
  right: 40px;
  font-size: 18pt;
}


#infoBarLeft {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#infoBarCentre {
  position: relative;
  width: calc(100% - 80px);
  height: 40px;
  display: inline-block;
}

#infoBarCentreEditor {
  position: absolute;
  width: 100%;
  height: 40px;
  display: inline-block;
}

#infoBarRight {
  position: relative;
  width: 40px;
  height: 40px;
  display: inline-block;
}


#topLeftButtons {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 500px;
  height: 36px;
  font-weight: bold;
}

.topButtons {
  position: relative;
  display: inline-block;
  width: 133px;
  height: 34px;
  background-image: url("../../Textures/gui/bevel/topLeftButton.png");
  text-align: center;
  vertical-align: middle;
  line-height: 34px;
}

#next {
  width: 150px;
  height: 44px;
  vertical-align: middle;
  line-height: 44px;
  text-align: center;
  background-color: #008a42;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: rgba(17, 255, 213, 1);
  position: absolute;
  right: 20px;
  bottom: 5px;
}

#reportTab {
  position: absolute;
  width: 100%;
  height: 89%;
  top: 5%;
  left: 1.5%;
}

#patchTab {
  position: absolute;
  width: 100%;
  height: 89%;
  top: 5%;
  left: 1.5%;
}

.nodeMap {
  border:
    2px 
    solid rgba(0, 1, 28,0.6);
  border-radius:10px;
}

.firstHalf {
  position: relative;
  display: inline-block;
  width: 70%;
  height: 100%;
  z-index: 2;
  font-size: 50px;
  background-color: rgba(0, 32, 36, 0.75);
  border-style: solid;
  border-color: #11fcd3;
  border-width: 1px;
  border-radius: 10px;
  text-align: center;
  line-height: normal;
  color: white;
}

#Map {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}



.secondHalf {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 100%;
  margin-left: 1.75%;
  z-index: 2;
  font-size: 50px;
  background-color: rgba(0, 32, 36, 0.75);
  border-style: solid;
  border-color: #11fcd3;
  border-width: 1px;
  border-radius: 10px;
  color: white;
}

.tabTitle {
  text-align: center;
  position: relative;
  width: 100%;
  margin-top: 15px;
  height: 50px;
  font-size: 28pt;
}

#Allcondition {
  position: absolute;
  width: 100%;
  height: calc(100% - 65px);
  font-size: 11pt;
}

.ConditionTab {
  position: relative;
  display: inline-block;
  height: auto;
  width: 100%;
  margin-bottom: 5px;
}

.condition {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  width: 42.5%;
  margin-left: 5%;
  height: auto;
}


.value {
  display: inline-block;
  vertical-align: middle;
  font-size: 16pt;
}

.situation {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  width: 12px;
  height: 12px;
  background-image: url("../../Textures/gui/bevel/increase.png");
}


.patchIcon {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: auto;
}

#microbeHUDPatchMeters {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 14pt;
}

.minusBtn {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 27px;
  margin-bottom: 5px;
  font-size: 12pt;
  background-size: 27px, 27px;
  background-position: center;
}

.minusBtn:hover {
  background-image: url("../../Textures/gui/bevel/minusButtonHover.png");
}

.topBar {
  display: block;
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 0;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.condTitle {
  display: inline-block;
  position: relative;
  height: auto;
  font-size: 13pt;
  vertical-align: middle;
  margin-left: 5px;
  padding-bottom: 28px;
}



.chart {
  background: transparent;
  width: 100px;
  height: 100px;
  border-left: 1px dotted #555;
  border-bottom: 1px dotted #555;
  padding: 20px 20px 20px 0;
}


#EditorPanelTop {
  display: none;
}

#EditorPanelBottom {
  visibility: hidden;
}

#microbeBottomBar {
  width: 500px;
  height: 46px;
  position: absolute;
  left: 5px;
  bottom: 5px;
}

#mainMenuButton {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 42px;
  background-image: url("../../Textures/gui/bevel/MainMenuNormal.png");
  text-align: center;
}

#mainMenuButton:hover {
  background-image: url("../../Textures/gui/bevel/MainMenuHover.png");
}

#pauseButtonBottom {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("../../Textures/gui/bevel/pauseButton.png");
  text-align: center;
}

#pauseButtonBottom:hover {
  background-image: url("../../Textures/gui/bevel/pauseButtonHover.png");
}

#compoundsButton {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  text-align: center;
}

.active {
  background-image: url("../../Textures/gui/bevel/compoundsButtonActive.png");
}


.inactive {
  background-image: url("../../Textures/gui/bevel/compoundsButton.png");
}

#compoundsButton:hover {
  background-image: url("../../Textures/gui/bevel/compoundsButtonHover.png");
}

#chemicalButton {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  background-image: url("../../Textures/gui/bevel/chemicalButton.png");
  text-align: center;
}

#chemicalButton:hover {
  background-image: url("../../Textures/gui/bevel/chemicalButtonHover.png");
}


#searchButton {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  background-image: url("../../Textures/gui/bevel/searchButton.png");
  text-align: center;
}


#searchButton:hover {
  background-image: url("../../Textures/gui/bevel/searchButtonHover.png");
}

#questionMarkButton {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  background-image: url("../../Textures/gui/bevel/helpButton.png");
  text-align: center;
}

#questionMarkButton:hover {
  background-image: url("../../Textures/gui/bevel/helpButtonHover.png");
}

#statisticsButton {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  background-image: url("../../Textures/gui/bevel/statisticsButton.png");
  text-align: center;
}

#statisticsButton:hover {
  background-image: url("../../Textures/gui/bevel/statisticsButtonHover.png");
}

#suicideButton {
  position: relative;
  display: inline-block;
  height: 42px;
  width: 42px;
  background-image: url("../../Textures/gui/bevel/suicideButton.png");
}

#suicideButton:hover {
  background-image: url("../../Textures/gui/bevel/suicideButtonHover.png");
}

#mainMenuButtonEditor {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 40px;
  background-image: url("../../Textures/gui/bevel/MediumTwoNormal.png");
  text-align: center;
}

#mainMenuButtonEditor:hover {
  background-image: url("../../Textures/gui/bevel/MediumTwoHover.png");
}


#expandPanel {
  display: inline-block;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../../Textures/gui/bevel/expandPanelActive.png");
  background-repeat: no-repeat;
  background-size: 20px, 20px;
  background-position: center;
}

#expandPanel:hover {
  background-size: 22px, 22px;
}

#compressPanel {
  display: inline-block;
  float: right;
  margin-top: 9.5px;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px, 20px;
  background-image: url("../../Textures/gui/bevel/compressPanel.png");
}

#compressPanel:hover {
  background-size: 22px, 22px;
}

#Panels {
  width: 300px;
  height: 600px;
  left: 5px;
  bottom: 58px;
  position: absolute;
}

#compoundsPanel {
  position: relative;
  width: 249px;
  height: 238px;
  margin-top: 10px;
  background-image: url("../../Textures/gui/bevel/CompoundPanel.png");
  background-repeat: no-repeat;
  text-indent: 45px;
  line-height: 42px;
  font-size: 15pt;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
}

#environmentPanel {
  position: relative;
  width: 213px;
  height: 240px;
  margin-top: 10px;
  background-image: url("../../Textures/gui/bevel/environmentPanel.png");
  text-indent: 15px;
  line-height: 38px;
  font-size: 15pt;
  white-space: nowrap;
  overflow-y: auto;
  overflow-x: hidden;
}


#agentsPanel {
  position: relative;
  width: 332px;
  height: 90px;
  margin-top: 10px;
  background-image: url("../../Textures/gui/bevel/agentsPanel.png");
  text-indent: 45px;
  line-height: 42px;
  font-size: 15pt;
  white-space: nowrap;
  background-repeat: no-repeat;
  overflow-y: auto;
  overflow-x: hidden;
}

#bottomBar {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 750px;
  height: 43px;
  background-image: url("../../Textures/gui/bevel/bottomBar.png");
}

#ATPIcon {
  background-image: url("../../Textures/gui/bevel/ATP.png");
}

#OxygenIcon {
  background-image: url("../../Textures/gui/bevel/Oxygen.png");
}

#microbeHUDPlayerOxygenBar {
  background-color: #0098c3;
}

#NitrogenIcon {
  background-image: url("../../Textures/gui/bevel/Nitrogen.png");
}

.TempIcon {
  background-image: url("../../Textures/gui/bevel/Temperature.png");
}

#LightIcon {
  background-image: url("../../Textures/gui/bevel/Light.png");
}

#PressureIcon {
  background-image: url("../../Textures/gui/bevel/Pressure.png");
}

#microbeHUDPlayerNitrogenBar {
  background-color: #68b26e;
}

#AminoAcidsBar {
  background-color: #f94b97;
}

#AmmoniaIcon {
  background-image: url("../../Textures/gui/bevel/Ammonia.png");
}

#microbeHUDPlayerAmmoniaBar {
  background-color: #a16500;
}

#GlucoseIcon {
  background-image: url("../../Textures/gui/bevel/Glucose.png");
}

#microbeHUDPlayerGlucoseBar {
  background-color: #657071;
}

#CO2Icon {
  background-image: url("../../Textures/gui/bevel/CO2.png");
}

#microbeHUDPlayerCO2Bar {
  background-color: #2447ae;
}

#FattyAcidsIcon {
  background-image: url("../../Textures/gui/bevel/FattyAcids.png");
}

#FattyAcidsBar {
  background-color: #d3c1aa;
}

#OxyToxyIcon {
  background-image: url("../../Textures/gui/bevel/OxyToxy.png");
}

#microbeHUDPlayerOxytoxyBar {
  background-color: #9F1360;
}

#IronIcon {
  background-image: url("../../Textures/gui/bevel/Iron.png");
}

#microbeHUDPlayerIronBar {
  background-color: #792011;
}

#HealthIcon {
  position: absolute;
  width: 19px;
  height: 19px;
  bottom: -18px;
  right: 172px;
  background-image: url("../../Textures/gui/bevel/Hitpoints.png");
}


#ATPIconBar {
  position: absolute;
  width: 19px;
  height: 19px;
  bottom: 0px;
  right: 158px;
  background-image: url("../../Textures/gui/bevel/AtpIconBar.png");
}

#microbeHUDPlayerHitpointsBar {
  background-color: #9c0860;
}

#MutationPointsIcon {
  background-image: url("../../Textures/gui/bevel/MP.png");
}

#microbeHUDPlayerMutationPointsBar {
  background-image: url("../../Textures/gui/bevel/MpBar.png");
  background-color: #7b417e;
}

#microbeHUDPlayerMaxMutationPoints {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 0;
  font-size: 10pt;
}

#microbeHUDPlayerMutationPoints {
  position: absolute;
  left: -20px;
  top: 0;
  text-align: center;
  line-height: 0;
  font-size: 10pt;
}

#PhosphatesIcon {
  background-image: url("../../Textures/gui/bevel/Phosphates.png");
}

#microbeHUDPlayerPhosphatesBar {
  background-color: #6124cc;
}

#HydrogenSulfideIcon {
  background-image: url("../../Textures/gui/bevel/HydrogenSulfide.png");
}

#microbeHUDPlayerHydrogenSulfideBar {
  background-color: #646b28;
}

#microbeToEditorButton {
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: 120px;
  height: 120px;
  background-image: url("../../Textures/gui/bevel/LargeTwoNormal.png");
  font-size: 0pt;
  text-align: center;
  line-height: 30px;
}

#microbeEditorFinishButton {
  width: 150px;
  height: 44px;
  vertical-align: middle;
  line-height: 44px;
  text-align: center;
  background-color: #008a42;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: rgba(17, 255, 213, 1);
  position: absolute;
  right: 20px;
  bottom: 5px;
}

#microbeToEditorButton:hover {
  background-image: url("../../Textures/gui/bevel/LargeTwoHover.png");
}

#microbeToEditorButton.DisabledButton {
  background-image: url("../../Textures/gui/bevel/LargeTwoDisabled.png");
}

#microbeToEditorButton.DisabledButton:hover {
  background-image: url("../../Textures/gui/bevel/LargeTwoDisabled.png");
}

#microbeEditorIcon {
  width: 120px;
  height: 80px;
}

#microbeHealthBox {
  position: absolute;
  right: 0;
  bottom: 40px;
  width: 200px;
  height: 200px;
  text-indent: 40px;
  line-height: 40px;
  font-size: 18pt;
  white-space: nowrap;
}

#ATPCount {
  position: relative;
  z-index: 1;
  top: -40px;
  width: 90px;
  left: 380px;
}

.Overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.7);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pauseOverlay,
#pauseOverlayEditor {
  display: none;
  justify-content: center;
}

#helpText,
#helpTextEditor {
  /* display:relative; This is the display setting when visible */
  display: none;
  width: 100%;
  height: 80%;
  margin-top: 30px;
  background-color: rgb(1, 1, 1, 0);
  z-index: 2;
}

#closeHelp,
#closeHelpEditor {
  vertical-align: middle;
  position: relative;
  margin: 50px auto;
  margin-bottom: 100px;
}

#tipMsg,
#tipMsgEditor {
  margin-top: 40px;
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 30px;
  color: yellow;
}

#pauseButton {
  display: none;
  position: absolute;
  height: 40px;
  width: 80px;
  top: 40px;
  left: 0;
  background-image: url("../../Textures/gui/bevel/SmallOneNormal.png");
}

#pauseButton:hover {
  background-image: url("../../Textures/gui/bevel/SmallOneHover.png");
}

#pauseIcon {
  /* Needs some Javascript to replace image with Textures/gui/bevel/PlayIcon.png when hidden */
  background-image: url("../../Textures/gui/bevel/PauseIcon.png");
  width: 40px;
  height: 40px;
  position: relative;
  left: 0;
}

.dataValue {
  position: absolute;
  bottom: 150px;
  right: 65px;
  width: 200px;
  height: 120px;
}

.population {
  position: absolute;
  width: 200px;
  height: 30px;
  right: 0px;
  bottom: 120px;
}


#populationText {
  display: inline;
  font-size: 9pt;
}

#populationCount {
  display: inline;
  font-size: 9pt;
}

#oxygenTab {
  position: absolute;
  height: 40px;
  width: 120px;
  top: 0;
  left: 600px;
  font-size: 10pt;
  line-height: 40px;
  background-image: url("../../Textures/gui/bevel/EditPanelHeaderNormal.png");
}

#oxygenPercent {
  position: absolute;
  height: 40px;
  width: 150px;
  top: 0;
  left: 640px;
  font-size: 10pt;
  line-height: 40px;
}

#carbonDioxideTab {
  position: absolute;
  height: 40px;
  width: 120px;
  top: 0;
  left: 720px;
  font-size: 10pt;
  line-height: 40px;
  background-image: url("../../Textures/gui/bevel/EditPanelHeaderNormal.png");
}

#carbonDioxidePercent {
  position: absolute;
  height: 40px;
  width: 150px;
  top: 0;
  left: 760px;
  font-size: 10pt;
  line-height: 40px;
}

#nitrogenTab {
  position: absolute;
  height: 40px;
  width: 120px;
  top: 0;
  left: 840px;
  font-size: 10pt;
  line-height: 40px;
  background-image: url("../../Textures/gui/bevel/EditPanelHeaderNormal.png");
}

#nitrogenPercent {
  position: absolute;
  height: 40px;
  width: 150px;
  top: 0;
  left: 880px;
  font-size: 10pt;
  line-height: 40px;
}

#winContainer {
  width: 100%;
  height: 350px;
  margin-top: 17%;
  background-color: rgba(60, 60, 60, 0.2);
  display: none;
}

#winTitle {
  width: 800px;
  height: 100px;
  font-family: thrive;
  font-size: 90pt;
  margin-left: calc(50% - 400px);
  margin-top: 1%;
  display: none;
}

#winBody {
  width: 800px;
  height: 120px;
  font-size: 20pt;
  text-align: left;
  margin-left: calc(50% - 400px);
  display: none;
}

#extinctionContainer {
  width: 100%;
  height: 240px;
  margin-top: 17%;
  background-color: rgba(60, 60, 60, 0.2);
  display: none;
}

#extinctionTitle {
  width: 800px;
  height: 100px;
  font-family: thrive;
  font-size: 90pt;
  color: #f33;
  margin-left: calc(50% - 400px);
  margin-top: 1%;
  display: none;
}

#extinctionBody {
  width: 800px;
  height: 120px;
  font-size: 20pt;
  text-align: left;
  margin-left: calc(50% - 400px);
  display: none;
}

#suicideMsg {
  position: absolute;
  height: 100px;
  width: 750px;
  top: 96.5%;
  left: 42%;
  text-align: center;
  font-size: 12pt;
  display: none;
}


#suicideIcon {
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  position: absolute;
}

#mouseHoverPanel {
  position: absolute;
  background-image: url("../../Textures/gui/bevel/mouseHoverBg.png");
  top: 5px;
  right: 5px;
  width: 300px;
  height: 210px;
  padding-left: 3px;
  padding-top: 10px;
  background-repeat: no-repeat;
}

#topLevelMicrobeStage {
  display: none;
  overflow: hidden;
}

#species {
  position: absolute;
  font-size: 12pt;
  line-height: 26px;
  left: 50px;
  display: inline-block;
}

#speciesNameBox {
  width: 260px;
  margin-left: 10px;
}

.TextBox {
  display: inline-block;
  height: 26px;
  margin-top: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  text-indent: 10px;
  line-height: 26px;
}

#generation,
#speed,
#size {
  background-color: rgba(0, 139, 139, 0.3);
  position: absolute;
  height: 26px;
  margin-top: 7px;
  font-size: 12pt;
  line-height: 26px;
  display: inline-block;
}

#generationLabel,
#sizeLabel,
#speedLabel {
  margin-left: 2px;
}

#generation {
  left: 390px;
}

#size {
  left: 620px;
}

#speed {
  left: 520px;
}

#SymmetryButton {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url("../../Textures/gui/bevel/SymmetryNormal.png");
  bottom: 40px;
  left: calc(50% - 40px);
  font-size: 8pt;
  text-align: center;
}

#SymmetryButton.DisabledButton {
  background-image: url("../../Textures/gui/bevel/SymmetryDisabled.png");
}

#SymmetryButton.DisabledButton:hover {
  background-image: url("../../Textures/gui/bevel/SymmetryDisabled.png");
}

#SymmetryButton:hover {
  background-image: url("../../Textures/gui/bevel/SymmetryHover.png");
}

#SymmetryIcon {
  /* Needs Javascript to switch between empty background, 2xSymmetry, 4xSymmetry and 6xSymmetry */
  width: 80px;
  height: 62px;
}

#Undo {
  position: absolute;
  width: 80px;
  height: 40px;
  background-image: url("../../Textures/gui/bevel/SmallThreeNormal.png");
  bottom: 40px;
  left: calc(50% - 120px);
}

#Undo:hover {
  background-image: url("../../Textures/gui/bevel/SmallThreeHover.png");
}

#UndoIcon {
  background-image: url("../../Textures/gui/bevel/UndoIcon.png");
  width: 40px;
  height: 40px;
  position: relative;
  left: 40px;
}

#Redo {
  position: absolute;
  width: 80px;
  height: 40px;
  background-image: url("../../Textures/gui/bevel/SmallFourNormal.png");
  bottom: 40px;
  right: calc(50% - 120px);
}

#Redo:hover {
  background-image: url("../../Textures/gui/bevel/SmallFourHover.png");
}

#RedoIcon {
  background-image: url("../../Textures/gui/bevel/RedoIcon.png");
  width: 40px;
  height: 40px;
  position: relative;
  left: 0;
}

#Undo.DisabledButton {
  background-image: url("../../Textures/gui/bevel/SmallThreeDisabled.png");
}


#Redo.DisabledButton {
  background-image: url("../../Textures/gui/bevel/SmallFourDisabled.png");
}


#MPBox {
  position: absolute;
  width: 480px;
  height: 40px;
  top: 0;
  left: 500px;
  background-image: url("../../Textures/gui/bevel/HealthPanel.png");
  text-indent: 40px;
  line-height: 40px;
}

#newButton {
  position: absolute;
  height: 40px;
  width: 120px;
  top: 0;
  left: 980px;
  background-image: url("../../Textures/gui/bevel/MediumTwoNormal.png");
  font-size: 8pt;
  line-height: 40px;
  text-indent: 40px;
}

#newButton.DisabledButton {
  background-image: url("../../Textures/gui/bevel/MediumTwoDisabled.png");
}

#newButton.DisabledButton:hover {
  background-image: url("../../Textures/gui/bevel/MediumTwoDisabled.png");
}

#newButton:hover {
  background-image: url("../../Textures/gui/bevel/MediumTwoHover.png");
}

#NewIcon {
  background-image: url("../../Textures/gui/bevel/NewIcon.png");
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  position: absolute;
}

#microbeEditorLeftPanel {
  position: absolute;
  left: 0;
  top: 50px;
  width: 400px;
  height: calc(100% - 80px);
}

#StructurePanelTop {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 40px;
  background-image: url("../../Textures/gui/bevel/EditPanelTop.png");
  z-index: 1;
  padding: 0;
}

#StructureTitle,
#AppearanceTitle,
#BehaviorTitle {
  font-size: 12pt;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding: 0;
}

#AppearanceButton {
  display: inline-block;
  background-image: url("../../Textures/gui/bevel/EditPanelHeaderDisabled.png");
  position: relative;
  width: 120px;
  height: 40px;
  left: -5px;
  top: 0;
  z-index: -1;
  padding: 0;
  margin: 0;
}

#BehaviorButton {
  display: inline-block;
  background-image: url("../../Textures/gui/bevel/EditPanelHeaderDisabled.png");
  position: relative;
  width: 120px;
  height: 40px;
  left: -10px;
  top: 0;
  z-index: -1;
  padding: 0;
  margin: 0;
}

#StructurePanelMid {
  position: relative;
  top: 0;
  left: 0;
  width: 500px;
  height: calc(100% - 40px);
  background-image: url("../../Textures/gui/bevel/EditPanelMid.png");
  overflow-y: scroll;
}

.OrganelleListTitle {
  font-size: 14pt;
  text-indent: 5px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.OrganelleTable {
  padding: 0;
  margin: 0;
}

.OrganelleListItem {
  position: relative;
  width: 104px;
  height: 110px;
  font-size: 8pt;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url("../../Textures/gui/bevel/OrganelleNormal.png");
}

.OrganelleListItem.Selected {
  background-image: url("../../Textures/gui/bevel/OrganelleHover.png");
}

.OrganelleListItem:hover {
  background-image: url("../../Textures/gui/bevel/OrganelleHover.png");
}

.OrganelleListItem.DisabledButton {
  background-image: url("../../Textures/gui/bevel/OrganelleDisabled.png");
}

.OrganelleSelectedText {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 15px;
}

#NucleusIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/NucleusIcon.png");
}

#CytoplasmIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/CytoplasmIcon.png");
}

/* Tooltip text */
.tooltiptext {
  visibility: hidden;
  width: 320px;
  height: 30%;
  right: 5%;
  top: 10%;
  font-size: 10pt;
  background-color: rgba(0, 139, 139, 0.5);
  color: #fff;
  text-align: center-left;
  border-radius: 25px;
  padding: 5px 0;
  position: fixed;
  z-index: 1;
}


.OrganelleListItem:hover .tooltiptext {
  visibility: visible;
}


#PlastidIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/NitroplastidIcon.png");
}


#MitochondrionIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/MitochondrionIcon.png");
}


#ChloroplastIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/ChloroplastIcon.png");
}

#ThermoplastIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/ThermoplastIcon.png");
}


#VacuoleIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/VacuoleIcon.png");
}

#ToxinVacuoleIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/ToxinVacuoleIcon.png");
}

#BioluminescentIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/BioluminescentIcon.png");
}

#ChemoplastIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/ChemoplastIcon.png");
}


#FlagellumIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/FlagellumIcon.png");
}

#MetabolosomeIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/MetabolosomeIcon.png");
}

#NitrogenaseIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/NitrogenaseIcon.png");
}


#ChromatophorIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/ChromatophorIcon.png");
}

#ChemosynthisizingProteinsIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/ChemoproteinsIcon.png");
}

#RusticyaninIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/ChemoproteinsIcon.png");
}

#PilusIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/PilusIcon.png");
}

#CiliaIcon {
  position: relative;
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url("../../Textures/gui/bevel/CiliaIcon.png");
}


#value{
  position: absolute;
  width: 90px;
  height: 30px;
  left: 50px;
  bottom: 50px;
}


/* ANIMATION */
.minus {
  background-image: url("../../Textures/gui/bevel/minusButton.png");
}

.plus {
  background-image: url("../../Textures/gui/bevel/plusButton.png");
}

.plus:hover {
  background-image: url("../../Textures/gui/bevel/plusButtonHover.png"); 
}


#circleBars {
  transform: scale(1.35);
  position: absolute;
  bottom: -40px;
  right: 12px;
}

/* Used for the scientific description text in the final blurb. */

.tdesc {
  color: #d3d3d3;
  font-size: 85%;
}

#debugOverlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background: none;
  z-index: 1000;
  text-shadow: 1px 1px #111a;
  font-size: 1.2em;
  font-family: "Sans";
}

#currentFPS {
  font-size: 1.8em;
}

#debugOverlay span {
  padding-right: 3px;
  display: inline-block;
  vertical-align: top;
}
