version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "review"
      - "dependencies"
    open-pull-requests-limit: 3
    groups:
      godot:
        patterns:
          - "Godot*"
      xunit:
        patterns:
          - "xunit*"
  - package-ecosystem: gitsubmodule
    directory: "/"
    schedule:
        interval: "weekly"
    labels:
      - "review"
      - "dependencies"
