[submodule "contrib/googletest"]
	path = contrib/googletest
	url = git://github.com/liquid-mirror/googletest.git
[submodule "contrib/luabind"]
	path = contrib/luabind
	url = git://github.com/rpavlik/luabind.git
[submodule "contrib/luajit"]
	path = contrib/luajit
	url = http://luajit.org/git/luajit-2.0.git
[submodule "contrib/lua/luajit"]
	path = contrib/lua/luajit
	url = http://luajit.org/git/luajit-2.0.git
