[submodule "RevolutionaryGamesCommon"]
	path = RevolutionaryGamesCommon
	url = https://github.com/Revolutionary-Games/RevolutionaryGamesCommon.git
[submodule "third_party/JoltPhysics"]
	path = third_party/JoltPhysics
	url = https://github.com/jrouwe/JoltPhysics.git
[submodule "third_party/concurrentqueue"]
	path = third_party/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue.git
