version: 1

jobs:
  build:
    image: thrive/godot-ci:v16
    cache:
      loadFrom:
        - v3-{Branch}-build
        - v3-master-build
      writeTo: v2-{Branch}-build
      shared:
        .git/lfs: v2-lfs
        .import: v4-import
        builds: v1-builds
      system:
        /root/.nuget: v1-nuget
    steps:
      # This is here to reimport assets, but this build would fail due to missing nuget packages
      # if C# was compiled here
      - run:
          name: Export to make project valid
          command: |
            godot --export "dummy" "builds/a.x86_64" || true
      - run:
           command: dotnet restore Thrive.sln
      - run:
          name: Compile with checks
          command: ./check_formatting.rb -c compile
      - run:
          name: Create builds
          command: ./make_release.rb --dehydrated
      - run:
          name: Upload devbuilds
          command: ./upload_devbuilds.rb
  jetbrains:
    image: thrive/godot-ci:v16
    cache:
      loadFrom:
        - v1-{Branch}-jetbrains
        - v1-master-jetbrains
      writeTo: v1-{Branch}-jetbrains
      shared:
        .git/lfs: v2-lfs
        .import: v4-import
        builds: v1-jetbrains-dummy-builds
      system:
        /root/.nuget: v1-nuget
    artifacts:
      paths:
        - files_to_check.txt
        - inspect_results.xml
        - cleanup_diff.patch
    steps:
      - run:
          name: Build list of changed files
          # Remove the cat here once artifact uploads is done:
          command: |
            git diff-tree --no-commit-id --name-only -r HEAD..origin/$CI_DEFAULT_BRANCH > files_to_check.txt
            git diff-tree --no-commit-id --name-only -r HEAD..$CI_EARLIER_COMMIT >> files_to_check.txt
            echo Changed files:
            cat files_to_check.txt
      # Don't care if this fails, it's enough that the C# build works
      - run:
          name: Just make C# project valid; don't care if asset import fails
          command: |
            godot --export "dummy" "builds/a.x86_64" || true
      - run:
          command: dotnet restore Thrive.sln
      - run:
           command: dotnet tool restore
      # Makes sure that there aren't any changes at this point to not make the CI trip up on them
      - run:
          name: Make sure no changes to git tracked files at this point
          command: GIT_LFS_SKIP_SMUDGE=1 git reset --hard HEAD
      # Inspect code (this only takes like 40 seconds for all files)
      - run:
          command: ./check_formatting.rb -c inspectcode
      # dupfinder is deprecated, see: https://github.com/Revolutionary-Games/Thrive/issues/2953
      # - run:
      #     command: ./check_formatting.rb -c duplicatecode
      # Cleanup, this takes a *long* time when checking a lot of files
      - run:
          command: ./check_formatting.rb -c cleanupcode
      - run:
          when: always
          name: Check cleanup changes
          command: |
            git diff > cleanup_diff.patch
            if grep -q '[^[:space:]]' < cleanup_diff.patch; then
                echo "Code cleanup found things to be fixed:"
                cat cleanup_diff.patch
                exit 1
            else
                echo "No changes made"
                rm -f cleanup_diff.patch
            fi
  format_script:
    image: thrive/lint:v11
    cache:
      loadFrom:
        - v1-{Branch}-format
        - v1-master-format
      writeTo: v1-{Branch}-format
      shared:
        .git/lfs: v2-lfs
    artifacts:
      paths:
        - files_to_check.txt
        - inspect_results.xml
        - duplicate_results.xml
        - format_diff.patch
    steps:
      - run:
          command: ./check_formatting.rb -c files,localization
      - run:
          when: always
          name: Check format changes
          command: |
            git diff > format_diff.patch
            if grep -q '[^[:space:]]' < format_diff.patch; then
                echo "Formatter found things to be fixed:"
                cat format_diff.patch
                exit 1
            else
                echo "No changes made"
                rm -f format_diff.patch
            fi
