[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Terminal=false
Exec=Thrive
Name=Thrive
Icon=Thrive
Comment=An evolution simulation game. Take control of your species in the environment and edit your species as a whole to compete with other evolving species
Categories=Game;StrategyGame;
