[Desktop Entry]
Name=Thrive
Comment=Game about evolution, in which the player guides a species from their origin as a microbe to the space age and beyond
Exec=Thrive
Icon=Thrive
Type=Application
Terminal=false
Categories=Game;StrategyGame;
