version: 2.1
jobs:
   build:
     working_directory: ~/Thrive
     docker:
       - image: hhyyrylainen/godot-ci:v4
     environment:
       GIT_LFS_SKIP_SMUDGE: 1
     steps:
       - checkout
       - restore_cache:
           keys:
             - v6-lfs-{{ .Branch }}
             - v6-lfs-master
       - run:
           name: Pull Git LFS files, retry up to 5 times
           command: |
             for i in {1..5}; do git reset --hard HEAD && git clean -fd && git lfs pull && exit 0; done; exit 1
       - save_cache:
          key: v6-lfs-{{ .Branch }}
          paths:
            - .git/lfs
       - restore_cache:
           keys:
             - v4-import-{{ .Branch }}
             - v4-import-master
       - run: mkdir -p builds
       # This is here to reimport assets, but this build would fail due to missing nuget packages
       # if C# was compiled here
       - run: godot --export "Linux/X11" "builds/a.x86_64"
       # - run: ./headless_project_refresh.rb
       - save_cache:
           key: v4-import-{{ .Branch }}
           paths:
             - .import
       - restore_cache:
           keys:
             - v2-nuget-{{ .Branch }}
       - run: nuget restore Thrive.sln
       - save_cache:
          key: v2-nuget-{{ .Branch }}
          paths:
            - ~/.nuget/packages
       # Format check before making final packages
       - run: ./check_formatting.rb -c compile
       # Proper packages
       - run: ./make_release.rb --dehydrated
       # Upload devbuilds
       - run: ./upload_devbuilds.rb
   jetbrains:
     working_directory: ~/Thrive
     docker:
       - image: hhyyrylainen/godot-ci:v4
     environment:
       GIT_LFS_SKIP_SMUDGE: 1
     steps:
       - checkout
       - restore_cache:
           keys:
             - v4-import-master
       - run: godot --export "Linux/X11" "builds/a.x86_64"
       - restore_cache:
           keys:
             - v2-nuget-{{ .Branch }}
       - run: nuget restore Thrive.sln
       # Jetbrains command line tools to check the code
       - run: ./check_formatting.rb -c inspectcode,cleanupcode
       - run:
           when: always
           command: |
             git diff > cleanup_diff.patch
             if grep -q '[^[:space:]]' < cleanup_diff.patch; then
                 echo "Code cleanup found things to be fixed:"
                 cat cleanup_diff.patch
                 exit 1
             else
                 echo "No changes made"
                 rm -f cleanup_diff.patch
             fi
       - store_artifacts:
          path: inspect_results.xml
       - store_artifacts:
          path: cleanup_diff.patch
   format_script:
     working_directory: ~/Thrive
     docker:
       - image: hhyyrylainen/thrive-lint:v1
     environment:
       GIT_LFS_SKIP_SMUDGE: 1
     steps:
       - checkout
       - run: ./check_formatting.rb -c files
       - run:
           when: always
           command: |
             git diff > format_diff.patch
             if grep -q '[^[:space:]]' < format_diff.patch; then
                 echo "Formatter found things to be fixed:"
                 cat format_diff.patch
                 exit 1
             else
                 echo "No changes made"
                 rm -f format_diff.patch
             fi
       - store_artifacts:
          path: format_diff.patch

workflows:
  version: 2
  build_and_format:
    # Unfortunately godot is setup so that a build can't happen without having all the assets processed
    # so the format script can't check C# files
    jobs:
      - build
      - format_script
      - jetbrains
